@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", cursive;
  padding: 10px 5%;
  margin: 0px;
  background-color: #bdc3c7;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.heading {
  padding: 0;
  text-align: center;
}

button {
  background-color: green;
  color: white;
}

.score-card {
  border: 20px solid green;
  margin: 10px 0px;
  padding: 10px 20px;
  font-size: 15px;
}

.player-scores {
  border: 2px solid black;
  padding: 10px;
}

.player-score {
  border-bottom: 2px solid black;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.score {
  color: red;
}

.score,
.player,
.player-scores,
.player-score,
.score-card,
.score-card H2 {
  background-color: white;
}